@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var statusCode = ViewData["StatusCode"];
    var errorMessage = ViewData["ErrorMessage"];
}

<h1>Error @statusCode</h1>
<p>@errorMessage</p>

<a asp-action="Index" class="btn btn-primary">@_localizer["Ga terug naar home pagina"]</a>