@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@_localizer["Gebruik deze pagina om het privacybeleid van uw site te beschrijven."]</p>
